:root {
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #212121;
  --accent-color: #2196f3;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --additional-color: #000000;
  --button-hover-color: #188ce8;
  --filter-button-background-color: #f5f4fa;
  --line-color: #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-dark {
  color: var(--additional-color);
}

.logo-light {
  color: var(--second-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.pointer {
  cursor: pointer;
}

/*------HEADER------ */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--third-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  color: inherit;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current-link {
  color: var(--accent-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*------HERO------*/

.hero {
  background-color: var(--third-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: var(--button-hover-color);
}

/*------FEATURES------*/
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*------OCCUPATION------*/

/*------TEAM------*/

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*------FOOTER------*/
.footer {
  background-color: var(--third-text-color);
}

.address-location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/*PORTFOLIO*/

/*------WORKS------*/

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: var(--filter-button-background-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.works-link {
  color: inherit;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.works-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
